---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Adebisi Ayomide - About"
  description="Portfolio for all my full stack development works"
>
  <main class="">
    <div>
      <p>About page</p>
    </div>
  </main>
</MainLayout>
