---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Adebisi Ayomide - About"
  description="Portfolio for all my full stack development works"
>
  <main class="min-h-[100vh]">
    <div>
      <p>Time to test the styles</p>

      <div class="mt-4 grid grid-cols-2 p-4 gap-2">
        <button class="text-sm p-4 rounded-md bg-neutral-900">Neutral</button>
        <button class="text-sm p-4 rounded-md bg-gray-900">gray</button>
        <button class="text-sm p-4 rounded-md bg-slate-900">slate</button>
        <button class="text-sm p-4 rounded-md bg-zinc-900">zinc</button>
        <button class="text-sm p-4 rounded-md bg-stone-900">stone</button>
      </div>
    </div>
  </main>
</MainLayout>