---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Adebisi Ayomide - Fullstack web developer"
  description="Portfolio for all my full stack development works"
>
  <main class="dark min-h-[100vh]">
  </main>
</MainLayout>
