---
import { Button } from "@/components/ui/button";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Adebisi Ayomide - Fullstack web developer"
  description="Portfolio for all my full stack development works"
>
  <main class="min-h-[100vh]">
    <Button id='darkModeToggle' variant="secondary">Toggle Mode</Button>


  <!-- <p class="dark:text-white my-48">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptates dolorum amet molestiae fugit temporibus quae harum magnam, culpa tempore a quidem rem illo error delectus sequi aut vel. In, eaque pariatur! Quae pariatur autem, aperiam, aut eius tenetur sequi temporibus veritatis nesciunt ducimus accusantium impedit dolorem exercitationem blanditiis officia? Itaque aperiam veniam voluptatibus doloremque accusantium molestias iure quos! Molestiae, voluptate nihil magnam inventore, quidem consequuntur quis impedit non placeat quod ex magni nesciunt aperiam molestias
  </p>
  <p class="dark:text-white my-48">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptates dolorum amet molestiae fugit temporibus quae harum magnam, culpa tempore a quidem rem illo error delectus sequi aut vel. In, eaque pariatur! Quae pariatur autem, aperiam, aut eius tenetur sequi temporibus veritatis nesciunt ducimus accusantium impedit dolorem exercitationem blanditiis officia? Itaque aperiam veniam voluptatibus doloremque accusantium molestias iure quos! Molestiae, voluptate nihil magnam inventore, quidem consequuntur quis impedit non placeat quod ex magni nesciunt aperiam molestias
  </p>
  <p class="dark:text-gray-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptates dolorum amet molestiae fugit temporibus quae harum magnam, culpa tempore a quidem rem illo error delectus sequi aut vel. In, eaque pariatur! Quae pariatur autem, aperiam, aut eius tenetur sequi temporibus veritatis nesciunt ducimus accusantium impedit dolorem exercitationem blanditiis officia? Itaque aperiam veniam voluptatibus doloremque accusantium molestias iure quos! Molestiae, voluptate nihil magnam inventore, quidem consequuntur quis impedit non placeat quod ex magni nesciunt aperiam molestias
  </p> -->

  </main>
</MainLayout>
