---
// import { Button } from "../components/ui/button";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Adebisi Ayomide - Fullstack web developer" description="Portfolio for all my full stack development works">
  <main>
	<p>Hello Home pagers</p>
</main>
</MainLayout>

<!-- <Button variant="destructive" id="toggleMode">enter dark mode</Button> -->
<!-- <script>
  const toggleModeButton = document.getElementById("toggleMode");
  const body = document.body;

  if (toggleModeButton) {
    toggleModeButton.addEventListener("click", () => {
      body.classList.toggle("dark");
    });
  }
</script> -->
