---
import { Button } from "@/components/ui/button";
import MainLayout from "../layouts/MainLayout.astro";
import BodyLayout from "../layouts/BodyLayout.astro";
---

<MainLayout
  title="Adebisi Ayomide - Fullstack web developer"
  description="Portfolio for all my full stack development works"
>
  <main class="min-h-[100vh] font">
    <!-- <Button id='darkModeToggle' variant="secondary">Toggle Mode</Button> -->
    <BodyLayout/>
  </main>
</MainLayout>
