---
import MobileLogo from "@/components/ui/MobileLogo.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ContactAction from "@/components/build/Contact";
import SectionTop from "@/components/build/build-ui/SectionTop.astro";
---

<MainLayout
  title="Adebisi Ayomide - Tech Stack"
  description="Explore the tech stack I use as a Full Stack Developer. Discover the front-end and back-end technologies, tools, and frameworks that power my web development projects."
>
  <main class="mb-20 min-h-[40vh]">
    <MobileLogo />

    <SectionTop title="Tech Stack" description="All the devs tools, apps and services i use." />

    <section class="max-w-[1024px] mx-auto px-4 py-6" >
    </section>

  </main>
</MainLayout>