---
import "@/styles/globals.css";
import HeadLayout from "./HeadLayout.astro";
import Menu from "../components/build/Menu.astro";
import Header from "../components/build/Header.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="en" class="">
  <HeadLayout title={title} description={description} />
  <body class="font-inter text-light-text dark:text-dark-text min-h-[100vh]">
    <Header />
    <Menu />
    <slot />
  </body><script></script>
</html>
