---
import "@/styles/globals.css";
import HeadLayout from "./HeadLayout.astro";
import Header from "../components/build/Header.astro"

interface Props {
    title: string,
    description : string
}
const {title, description} = Astro.props
---

<html lang="en" class="dark">
  <HeadLayout title={title} description={description}/>
  <body>
    <Header/>
    <slot/>
  </body>
</html>