---
import "@/styles/globals.css";
import HeadLayout from "./HeadLayout.astro";
import Header from "../components/build/Header.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="en" class="dark">
  <HeadLayout title={title} description={description} />
  <body>
    <Header />
    <!-- <p class="mt-48">{themeValue ? "" : ""}</p> -->
    <slot />
  </body>
</html>

<script>
  import { $currentTheme, $updateCurrentTheme } from "../store/theme";
  $currentTheme.subscribe(theme => {
    const themeValue = theme
    console.log(themeValue)
  })

</script>
