---
import MobileLogo from "@/components/ui/MobileLogo.astro";
import MainLayout from "./MainLayout.astro";
import SectionTop from "@/components/build/build-ui/SectionTop.astro";

const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
  <main class="mb-20 min-h-[40vh]">
    <MobileLogo />


    <section class="max-w-[1024px] mx-auto px-4 py-6">
      <h1>{frontmatter.title}</h1>
      <p>Written by {frontmatter.author}</p>
      <slot />
    </section>

  </main>
  
  </MainLayout
>
