---
import { Icon } from 'astro-icon/components'

interface Link {
    text?: string,
    href: string,
    class: string,
    icon?: string,
    isIconOnly?: boolean,
    isTextOnly?: boolean,
    isTextAndIcon?: boolean
}

// const {text, href, class, icon, isIconOnly, isTextOnly, isTextAndIcon} = Astro.props
---

<!-- <a href={href}>
    {isIconOnly && } </a> --> 