---
import { Icon } from "astro-icon/components";

interface Props {
  text: string | boolean;
  href: string;
  styles: string;
  icon?: string;
  iconPosition?: "right" | "left";
}

const { text, href, icon, styles, iconPosition } = Astro.props as Props;
---

<a
  href={href}
  class:list={[
    "font-bold text-black dark:text-white flex items-center justify-center gap-1 w-max",
    "hover:bg-gray-100 dark:hover:bg-gray-800",
    styles,
  ]}
>
  {icon && iconPosition === "left" && <Icon name={icon} />}
  {text === false ? null : <span>{text}</span>}
  {icon && iconPosition === "right" && <Icon name={icon} />}
</a>
