---
import { Icon } from "astro-icon/components";
---

<div
  class="flex items-center justify-center gap-2 font-extrabold cursor-pointer dark:hover:text-white mt-6"
>
  <a href="/">
    <Icon name="icons/Vector" class="text-3xl" />
    <p>AIO</p>
  </a>
</div>
